﻿@model IPagedList<PatientSystem_v1._01.Models.Patient>

@{
    ViewBag.Title = "Index";
}

@using PagedList;
@using PagedList.Mvc;

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Edit", new {id = 0 })
    @using (Html.BeginForm("index","Patients",FormMethod.Get))
    {
        <input type="text" name="search" placeholder="Search Name..." class="form-control" />
        <input type="submit" name="submit" value="Search" class="btn btn-primary" />
    }
</p>
<br />  
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Disease)
        </th>
        <th></th>
    </tr>
    <tbody id="PatientsTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disease)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PatientId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PatientId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PatientId })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Patients", 
    new { i, search = Request.QueryString["search"] }))
